[mysqld]
# Listen on all container interfaces (internal network only)
bind-address=0.0.0.0
# MariaDB/MySQL port
port=3306

# Skip DNS lookups. Forces MariaDB to use only IP addresses for connections/auth
skip-host-cache
skip-name-resolve

# Bind-mount data directory
datadir=/var/lib/mysql
# Set username
user=mysql
